body {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    font-family: -apple-system, blinkmacsystemfont, "segoe ui", "noto sans", helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji";
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #0073e6;
    transition: color 0.2s;
}

a:hover {
    color: #005bb5;
}

#page-container {
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}

#overview {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#info-bar, #content-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#info-bar {
    width: 40%;
    align-items: center;
    max-width: 100%;
}

#profile-image {
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 0.2em solid #ccc;
    display: block;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f0f0f0;
}

#title {
    font-size: 2rem;
    text-align: center;
}

#content-bar {
    width: 60%;
    padding-left: 2em;
    max-width: 100%;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    color: #111;
}

.content {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #222;
}

#contact-me {
    font-size: 1.2rem;
    text-align: center;
    color: #222
}

#projects {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
    padding: 0.5rem;
}

@media screen and (max-width: 800px) {
    #page-container {
        padding: 2%;
    }

    #overview {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #info-bar {
        flex-direction: row;
    }

    #info-bar, #content-bar {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    #title {
        font-size: 6vw;
    }

    .heading {
        font-size: 4vw;
    }
}
