[submodule "cyms-interpreter"]
	path = cyms-interpreter
	url = https://github.com/ethan-hawksley/cyms-interpreter.git
[submodule "turing-machine"]
	path = turing-machine
	url = https://github.com/ethan-hawksley/turing-machine
[submodule "tetris"]
	path = tetris
	url = https://github.com/ethan-hawksley/tetris
[submodule "soundboard"]
	path = soundboard
	url = https://github.com/ethan-hawksley/soundboard
