---
import Layout from '../layouts/Layout.astro';
import LatestPosts from '../components/LatestPosts.astro';
---

<Layout
  title="404 Not Found | Ethan Hawksley"
  description="The page you are looking for does not exist."
  robots="noindex, nofollow"
  ogType="website"
>
  <h1>404</h1>
  <p>
    Oops! Looks like you've ventured off into the wilderness and gotten lost.
  </p>
  <p>Whilst you're here, why not check out some of my latest posts?</p>
  <LatestPosts />
</Layout>
