---
import A from '../components/A.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  pageTitle="404 Not Found | Ethan Hawksley"
  pageDescription="The page you are looking for does not exist."
  robots="noindex, nofollow"
  ogType="website"
>
  <h1>404</h1>
  <p>
    Oops! Looks like you've ventured off into the wilderness and gotten lost.
  </p>
  <A href="/" style="font-size: 1.125rem;" pressable>Return Home!</A>
  <style>
    h1 {
      margin-bottom: 1.5rem;
      text-decoration: var(--color-accent) underline 3px;
      text-underline-offset: 0.25em;
    }
  </style>
</Layout>
