---
import A from './A.astro';
import FormattedDate from './FormattedDate.astro';

interface Props {
  url: string;
  title: string;
  description: string;
  pubDate: Date;
  tags: string[];
  headingLevel: 'h2' | 'h3';
}
const { url, title, description, pubDate, tags, headingLevel } = Astro.props;
const Heading = headingLevel;
---

<li>
  <article>
    <small>
      <FormattedDate date={pubDate} />
      {tags.length > 0 && <span> · {tags.join(', ')}</span>}
    </small>
    <Heading><A href={url}>{title}</A></Heading>
    <p>{description}</p>
  </article>
</li>

<style>
  li {
    width: 100%;
    list-style: none;
  }

  article {
    background-color: var(--color-surface);
    padding: 1.25rem;
    border: 2px solid var(--color-border);
    gap: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  h2,
  h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
  }

  small,
  p {
    color: var(--color-text-muted);
  }

  small {
    font-size: var(--font-size-sm);
  }

  p {
    font-size: var(--font-size-base);
  }

  h2 :global(a:active),
  h3 :global(a:active) {
    transform: scale(0.96);
  }
</style>
