---
import Email from '../assets/email.svg';
import Github from '../assets/github.svg';
import Linkedin from '../assets/linkedin.svg';
import A from './A.astro';
---

<address>
  <A
    href="mailto:%65%74%68%61%6E%40%68%61%77%6B%73%6C%65%79%2E%64%65%76"
    rel="me"
    id="email-link"
  >
    <span>
      <Email class="email" aria-hidden="true" />
      <span class="email-text">
        ethan<span class="clear">.spambot</span>@hawksley<span class="clear"
          >.ignore</span
        >.dev
      </span>
    </span>
  </A>
  <A href="https://github.com/ethan-hawksley" rel="me">
    <span>
      <Github class="github" aria-hidden="true" />
      GitHub
    </span>
  </A>
  <A href="https://www.linkedin.com/in/ethan-hawksley/" rel="me">
    <span>
      <Linkedin class="linkedin" aria-hidden="true" />
      LinkedIn
    </span>
  </A>
</address>

<style>
  address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (min-width: 660px) {
    address {
      flex-direction: row;
      gap: 1rem;
    }
  }

  address > :global(a) {
    padding: 0.75rem 0.5rem;
  }

  span {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  address :global(a:active) {
    transform: scale(0.96);
  }

  #email-link {
    min-width: 228px;
  }

  .clear {
    display: none;
  }
</style>
