---
import A from './A.astro';
import Email from '../assets/email.svg';
import Github from '../assets/github.svg';
import Linkedin from '../assets/linkedin.svg';
---

<address>
  <ul role="list">
    <li>
      <A
        class="email-address"
        href="mailto:%65%74%68%61%6E%40%68%61%77%6B%73%6C%65%79%2E%64%65%76"
        rel="me"
        pressable
      >
        <Email aria-hidden="true" />
        ethan<span class="bait">.dev</span>@hawksley<span class="bait">.co</span
        >.dev</A
      >
    </li>
    <li>
      <A
        class="github-profile"
        href="https://github.com/ethan-hawksley"
        rel="me noopener"
        pressable
      >
        <Github aria-hidden="true" />
        GitHub</A
      >
    </li>
    <li>
      <A
        class="linkedin-profile"
        href="https://www.linkedin.com/in/ethanhawksley"
        rel="me noopener"
        pressable
      >
        <Linkedin aria-hidden="true" />
        LinkedIn</A
      >
    </li>
  </ul>
</address>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  li {
    display: contents;
  }

  li > :global(a) {
    position: relative;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline-start: 2.25rem;
    padding-inline-end: 0.5rem;
  }

  li > :global(a svg:first-child) {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0.3rem;
    inline-size: 1.5em;
    block-size: 1.5em;
    transform: translateY(-50%);
  }

  .bait {
    display: none;
  }

  @media (min-width: 40em) {
    ul {
      flex-direction: row;
      gap: 1rem;
    }

    .email-address {
      min-inline-size: 14rem;
    }

    .github-profile {
      min-inline-size: 7.4rem;
    }

    .linkedin-profile {
      min-inline-size: 8.2rem;
    }
  }
</style>
