---
import Email from '../assets/email.svg';
import Github from '../assets/github.svg';
import Linkedin from '../assets/linkedin.svg';
import A from './A.astro';
---

<address>
  <A
    href="mailto:%65%74%68%61%6E%40%68%61%77%6B%73%6C%65%79%2E%64%65%76"
    rel="me"
    class="link-email"
    pressable
  >
    <Email aria-hidden="true" />
    ethan<span class="punct">.dev</span>@hawksley<span class="punct">.co</span
    >.dev</A
  >
  <A
    href="https://github.com/ethan-hawksley"
    rel="me"
    class="link-github"
    pressable
  >
    <Github aria-hidden="true" />
    GitHub</A
  >
  <A
    href="https://www.linkedin.com/in/ethan-hawksley/"
    class="link-linkedin"
    pressable
  >
    <Linkedin aria-hidden="true" />
    LinkedIn</A
  >
</address>

<style>
  address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (min-width: 40em) {
    address {
      flex-direction: row;
      gap: 1rem;
    }

    .link-email {
      min-inline-size: 14rem;
    }
    .link-github {
      min-inline-size: 7.4rem;
    }
    .link-linkedin {
      min-inline-size: 8.2rem;
    }
  }

  address > :global(a) {
    padding-block: 0.75rem;
    padding-inline-start: 2.25rem;
    padding-inline-end: 0.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  address :global(a svg:first-child) {
    position: absolute;
    inline-size: 24px;
    block-size: 24px;
    inset-inline-start: 0.3rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .punct {
    display: none;
  }
</style>
