---
import Moon from '../assets/moon.svg';
import Sun from '../assets/sun.svg';
---

<button id="theme-toggle" aria-label="Toggle theme" aria-pressed="false">
  <Moon class="moon" aria-hidden="true" focusable="false" />
  <Sun class="sun" aria-hidden="true" focusable="false" />
</button>
<style>
  button {
    border: 0;
    background: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sun,
  .moon {
    transition:
      color 250ms ease-out,
      opacity 250ms ease-out;
    color: var(--color-text);
    width: 2rem;
    height: 2rem;
    position: absolute;
  }

  .sun {
    opacity: 0;
  }

  :global(.dark) .moon {
    opacity: 0;
  }

  :global(.dark) .sun {
    opacity: 1;
  }

  button:hover > .sun,
  button:hover > .moon {
    color: var(--color-accent);
  }
</style>
<script>
  function initThemeToggle() {
    const button = document.getElementById('theme-toggle');
    if (!button) return;

    function updateTheme(isDark: boolean) {
      button?.setAttribute('aria-pressed', String(isDark));

      const themeColorMetaTags = document.querySelectorAll(
        'meta[name="theme-color"]',
      );
      const newColor = isDark ? '#0f0f0f' : '#fafafa';
      themeColorMetaTags.forEach((tag) =>
        tag.setAttribute('content', newColor),
      );
    }

    button.addEventListener('click', () => {
      const isDark = document.documentElement.classList.toggle('dark');
      document.documentElement.classList.toggle('light', !isDark);
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
      updateTheme(isDark);
    });

    const controller = new AbortController();
    window.addEventListener(
      'storage',
      (e) => {
        if (e.key === 'theme') {
          const isDark = e.newValue === 'dark';
          document.documentElement.classList.toggle('dark', isDark);
          document.documentElement.classList.toggle('light', !isDark);
          updateTheme(isDark);
        }
      },
      { signal: controller.signal },
    );

    document.addEventListener('astro:before-swap', () => controller.abort(), {
      once: true,
    });

    updateTheme(document.documentElement.classList.contains('dark'));
  }

  document.addEventListener('astro:page-load', initThemeToggle);
</script>
